services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    container_name: frontend
    ports:
      - "4000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - notifications-shared-network

networks:
  notifications-shared-network:
    name: notifications-shared-network
    driver: bridge
