- run:
    name: Deploy
    command: |
      circleci run release plan \
        --environment-name="<production>" \
        --component-name="<notifications-app>" \
        --target-version="<${CIRCLE_SHA1:0:7}>"

- run:
    name: Update a deploy to SUCCESS
    command: circleci run release update --status=SUCCESS
    when: on_success
- run:
    name: Update planned deploy to FAILED
    command: circleci run release update --status=FAILED
    when: on_fail
